/* Nav bar */
nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
}

nav li {
  font-size: 1.2rem;
  color: black;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: white;
  background-color: black;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  list-style: none;
}

footer li {
  font-size: 1.2rem;
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: white;
  background-color: black;
}

/* media query */
@media (min-width: 801px) {
  nav ul {
    flex-direction: row;
  }

  footer {
    flex-direction: row;
  }
  footer ul {
    flex-direction: column;
  }
}
