.nav-container {
  margin: 0 5px;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.nav-item {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

.nav-item a:hover {
  background-color: #f4ce14;
  font-weight: 700;
}

/* Media query tablet  */
@media (min-width: 821px) {
}

/* Media query Desktop */
@media (min-width: 1024px) {
}
